body {
    margin: 0;
    font-family: 'Robot', sans-serif;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #A82C4B;
    font-size: 16px;
}
nav ul li a:hover{
    color:#000 ;
}

nav ul li .login-btn {
    background-color: #A82C4B ;
    color: white;
    padding: 10px 20px;
    border: none;
   
    cursor: pointer;
    font-size: 16px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 200px;
    background-color: #F9F9F9;
    background-image: url("bg/bg-1.jpg");
    background-size: cover;
}

.hero-text {
    max-width: 500px;
   
}

.hero-text h1 {
    font-size: 50px;
    color: #4E2E2F;
}

.hero-text p {
    font-size: 10px;
    color: #7A7A7A;
    margin-bottom: 20px;
    padding-top: 20px;
}

.hero-buttons button {
    background-color: #A82C4B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
}

.hero-buttons button:hover {
    background-color:  #43121d;
}


.hero-buttons button:hover {
    background-color: #000;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    background-color: #A82C4B;
    color: white;
}

.stats .stat {
    text-align: center;
}

.stats .stat h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.stats .stat p {
    font-size: 1em;
}

.highlight, .handmade, .quote, .explore-foods, .subscribe {
    padding: 30px 20px;
    text-align: center;
    margin-top: 70px;
   
}

.highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}

.highlight-text {
    max-width: 500px;
    text-align: left;
    margin-right: 40px;
}

.highlight-text h2 {
    color: #4E2E2F;
    font-size: 50px;
}

.highlight-text p {
    color: #7A7A7A;
    font-size: 25px;
    margin-bottom: 20px;
}

.highlight-text button {
    background-color: #A82C4B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 40px;
}
.highlight-text button:hover{
    background-color: #000;
    color:#fff;
}

.highlight-image img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    
}

.handmade h2, .quote h2, .explore-foods h2, .subscribe h2 {
    font-size: 2em;
    color: #4E2E2F;
    margin-left: 100px;
}

.handmade p, .quote p, .explore-foods p, .subscribe p {
    color: #7A7A7A;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 10px;
    
}
.price{
    text-decoration: line-through;
    color: #999;
}
.handmade{
    background-image: url("./img/img-2.png");
    height: 100vh;
    background-size: 600px;
    background-position: right;
    background-repeat:no-repeat;
    text-align:left;
}

.handmade-images2{
    display: flex;
    background: cover;
}

.handmade-images .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.handmade ul {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 20px;
    padding-left: -100px;
}

.handmade ul li {
    color: #4E2E2F;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    
}

.handmade ul li:before {
    
    color: #8A2B2B;
    position: absolute;
    left: 0;
   
}
.list{
    list-style: none;
}

.handmade button, .quote button, .subscribe button {
    background-color: #A82C4B;
    color: #eae2e4 !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.handmade button:hover, .quote button:hover, .subscribe button:hover {
    background-color: #000;
}

.food-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food-item {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 300px;
    margin-bottom: 20px;
 
}
.col{
    color: #A82C4B;
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.subscribe-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.subscribe-form button {
    border-radius: 0 5px 5px 0;
}

footer {
    background-color: #8A2B2B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .footer-links {
    margin-bottom: 20px;
}

footer .footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a {
    margin: 0 5px;
}

footer .social-media img {
    height: 20px;
}

#hand{
    background: url(./bg/bg-2.jpg);
    height: 100vh;
    size:;
}